<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Catálogo</title>
</head>
<body>
    <h1>Tela de Catálogo</h1>

    <h2>Categorias</h2>
    <ol>
        <li>ALIANÇAS</li>
        <li>ANEIS</li>
    </ol>
</body>
</html>