<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turmalina</title>
</head>

<body>
    <h2>TESTE DE APRESENTAÇÃO DE PRODUTOS DA CATEGORIA</h2>

    <% var idProduto;  %> 
    <% for (let produtos of Produtos) { %>

        <p>Entrou no laco</p>
        
        <a href= "http://localhost:3000/catalogo/categoria/<%= produtos.id%>"  ><img src=<%=produtos.img %> alt="Imagem do produto" id="img-produto" ></a>
        <strong> <%= produtos.nome %> </strong>

        <% idProduto = produtos.id; %> 
            <script>


                // var id_prod= "<%= idProduto %>";
                // console.log(id_prod);

                // document.getElementById("img-produto").onclick = function () { telaProduto(id_prod) };
                // function telaProduto(id) {
                //     console.log("TA INDO");
                //     window.location.href = 'http://localhost:3000/catalogo/categoria/'+id;
                // }



                // let idProduto = 3;

                // console.log("HI, THERE!");
                // console.log(idProduto);

                // document.getElementById("img-produto").onclick = function () { telaProduto(idProduto) };
                // function telaProduto(id) {

                //     fetch(`http://localhost:3000/catalogo/categoria/${id}`, {
                //         "method": "POST",
                //         "headers": {}
                //     })
                //         .then(response => {
                //             console.log(response);
                //         })
                //         .catch(err => {
                //             console.error(err);
                //         });
                // }

            </script>

            <% } %>

</body>

</html>