<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    
    <title>Login</title>
</head>
<body>
    <main>

        <div class="banner">
            <img src="./img/img/banner-login.png" alt="Banner-logo" >
        </div>
        <div class="login">
            <img src="/img/img/logo.png" alt="logo" class="logo" >
            <form action="/usuarios/login" method="POST">

                <input type="email" name="email" id="email" placeholder="Nome de usuario ou email" required>
                <input type="password" name="password" id="password" placeholder="Digite sua senha" required>
                <button type="submit">Entra</button>
            </form>
            <div class="cta-cadastro">
                <p>Não tenho uma conta ?<a href="cadastro.html">Cadastre-se</a></p>
            </div>
        </div>
    </main>
</body>
</html>