<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
 
  <title>Tela de Login</title>
</head>

<body>
    <div id="login-container">
        <h1>Login</h1>
        <form action="/usuario/login" method="POST">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" autocomplet="off">
          <label for="password">Senha</label>
          <input type="password" name="senha" id="password">
          <a href="#" id="forgot-pass">Esqueceu a senha?</a>
          <input type="submit" value="Login">
        </form>
        <div id="social-container">
          <p>ou entre com suas redes sociais</p>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-google"></i>
        </div>
        <div id="register-container">

         <p>Ainda não tem uma conta?</p>    

         <a id="cadastroNovoUsuario" href="cadastro">Cadastre-se</a>
        </div>
     
        </div>
</body>
</html>