<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form/css/style.css">
    <title>Cadastro</title>
</head>
<body>
    <main>
            <form>
                <input type="number" name="numeroCartao" id="numeroCartao" placeholder="Numero do Cartão de Crédito" required>
                <input type="number" name="validadeCartao" id="validadeCartao" placeholder="Validade do Cartão" required>
                <input type="number" name="cvv" id="cvv" placeholder="cvv" required>    
                <button type="submit">Confirmar</button>
            </form>
            <form>
                <input type="number" name="parcelas" id="parcelas" placeholder="Parcelas">
                <input type="number" name="valorTotal" id="valorTotal" placeholder="valorTotal">

            </form>
        </div>
    </main>
</body>
</html>