@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

main {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pedido {
    display: flex;
    width: 100%;
    /* border: rgb(168, 168, 168); */
    background-color: white;
    border-radius: 20px;
    margin: 30px 0px ;
}

.pedido img {
    width: 10%;
    border-radius: 40px;
    padding: 20px;
}

.infoPedido {
    display: block;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    
}

.indices {
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
}
.valores {
    display: flex;
    justify-content: space-between;
    /* padding-right: 20px; */
}

button {
    width: 20%;
    background-color: whitesmoke;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    height: 60px;
}