@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/* -------------------------------------------------------HOME---------------------------------------------------- */
.container{
    width: 100%;
    background-image: linear-gradient(to top left, rgba(201, 133, 228, 0.952),  rgb(121, 215, 238));
}

body{
    background-image: linear-gradient(to top left, rgba(201, 133, 228, 0.952),  rgb(121, 215, 238));
    display: flex;
    flex-direction: row;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    width: 94%;
    justify-content: space-around;
    background-color: #e5d6f3;
    box-shadow: 0 0 10px  grey;
    padding: 10px 30px;
    align-items: center;
    position: fixed;
}

header i{
    margin-right: 20px;
}

nav a{
    margin-right: 20px;
    font-size: 25px;
}

a:hover {
    color: rgb(160,27,255);
    transition: 200ms;
    text-shadow: 0 0 0px rgb(207,184,255);
}

a {
    font-family: Ropa Sans;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
}

main {
    max-width: 100%;
    height: 1350px;
    font-family: Ropa Sans;
    text-align-last: center; 
    padding: 10px 50px;
}

/* -------------------------------------------------------HOME---------------------------------------------------- */

h1,h3{
    margin-top: 200px;
    font-family: Ropa Sans;
    font-size: 30px;
    text-align: center;
}

#slider {
    width: 80%;
    max-width:500px;
    height: 25vw;
    max-height: 150px;
    position: relative;
    margin-right: 300px;;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 150%;
    height: 350px;
    object-fit: cover;
    transition: opacity 800ms;
    box-shadow: 0 0 10px black ;
}

#slider img.selected{
    opacity: 1;
}

.section-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.imagens-demostrativas{
    margin-top: 250px;
}

.imagens-demostrativas img{
    height: 0px;
}

/* -------------------------------------------------------SOBRE---------------------------------------------------- */

.sobre p{
    font-size: 20px;
}
.casal{
    width: 400px;
    height: 800px;
    max-width: 40%;
    box-shadow: 0 0 10px;
}

.sobre{
    height: 100%;
}

.joias{
    background-color: rgb(73, 27, 158);
    color: white;
}

.girl-power{
    height: 800px;
    max-width: 100%;
    box-shadow: 0 0 10px;
}

/* -------------------------------------------------------CATÁLOGO---------------------------------------------------- */

.sec-cat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-cat div{
    box-shadow: 0px 5px 10px rgb(22,20,20);
    opacity: 60%;
    transition-duration: 200ms;
    height: 210px;
    width: 600px;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px  rgb(22, 20, 20);
}

.sec-cat div:hover{
    box-shadow: 0px 5px 10px rgb(22,20,20);
    opacity: 100%;
    transition-duration: 200ms;
}

.sec-cat p{
    font-family: Ropa Sans;
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding-top: 13%;
    text-shadow: 0 0 5px cornsilk;
} 
.aneis{
    background-image: url("../img/aneis1.jpg");
 }

.aliancas{
    background-image: url("../img/aliancas1.jpg");
}

.brincos{
    background-image: url("../img/brincos1.jpg");
}

.colares{
    background-image: url("../img/colares1.jfif");
}

.pulseiras{
    background-image: url("../img/pulseiras1.jfif");
}
  
/* ---------------------------------------------------FOOTER------------------------------------------------ */

footer{
    color:black;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    font-family: Ropa Sans;
    font-size: 22px;
    line-height: .2;
    width: 100%;
}

.footer{
    background-image: url(../img/footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    padding: 60px 40px;
    box-shadow: 0 0 10px  grey;
}

#contato div i{
    margin-right: 5px;
}




/* produtos */

/* .produto-1{
    width: 150px;
}

.foto-produto {
    display: flex;
    justify-content: space-between;
    width: 100%;    
    padding-right: 15px;    
}

.descricao-produto{
    border: 1px solid black;
} */









