/*geral*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #323232;
  border: none;
}

input, label {
  display: block;
  width: 100%;
}

input:focus, label:focus{
  outline: none;
}

a{
  color: #dd9690;
}

body {
  padding-top: 5vh;
  background-image: url('../img/capa\ de\ fundo.jpg');
  background-size: cover;
  background-position-y: -150;
}

/*form*/
#main-container {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px; 
}

#main-container h1{
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.6rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.full-box{ 
  flex: 1 1 100%;
  position: relative;
  }
.half-box{
  flex: 1 1 45%;
  position: relative;
}
.spacing {
  margin-right: 2.5%;
}
label {
  font-weight: bolder;
  font-size: .8rem
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 40px;
}

input:focus {
  border-color: #dd9690;
}

input[type="submit"] {
  background-color: #dd9690;
  color: #fff;
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
}

#agreement {
  margin-right: 5px;
}

#agreement, #agreement-label{
  display: inline-block;
  width: auto;
}

/*validações*/

.error-validation{
  color: #ff1a1a;
  position: absolute;
  top: 57px;
  font-size: none;
}

.tamplate {
  display: none;
}
