@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

/* -------------------------------------------------------HOME---------------------------------------------------- */
.container{
<<<<<<< HEAD
    width: 700px;
    max-width: 100%;
<<<<<<< HEAD
    background-color: #fafafa;
=======
    background-color: #e5d6f3;
>>>>>>> 0cbee40dfe3e1a374494816ee0ba597df6bd8475
    margin: 0 auto;
}

body{
    background-color: black;
<<<<<<< HEAD
=======
=======
    width: 100%;
    background-image: linear-gradient(to top left, rgba(201, 133, 228, 0.952),  rgb(121, 215, 238));
}

body{
    background-image: linear-gradient(to top left, rgba(201, 133, 228, 0.952),  rgb(121, 215, 238));
<<<<<<< HEAD
=======
    /* background-color: #e5d6f3; */
>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
>>>>>>> ec71d65e1f03a9142ece6a49950d6072f62e274e
    display: flex;
    flex-direction: row;
    align-items: center;
}

<<<<<<< HEAD
/* -------------------------------------------------------HOME---------------------------------------------------- */
#slider {
    width: 80%;
    max-width:500px;
    height: 25vw;
    max-height: 150px;

   position: relative;
}

#slider img{
    opacity: 0;
    position: absolute;

    width: 100%;
    height: 300px;

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected{
    opacity: 1;
}

.section-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.imagens-home{
    margin-top: 200px;
    margin-bottom: 60px;
>>>>>>> 0cbee40dfe3e1a374494816ee0ba597df6bd8475
}

=======
>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
header{
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    justify-content: space-between;
    background-color: white;
    height: 100px;
    box-shadow: 0 0 10px  grey;
    padding: 10px 50px;
    align-items: center;
}

header i{
    margin-right: 5px;
}
=======
    justify-content: space-around;
    background-color: #e5d6f3;
    /* background-image: linear-gradient(to top left, rgba(201, 133, 228, 0.952),  rgb(121, 215, 238)); */
    width: auto;
    box-shadow: 0 0 10px  grey;
    padding: 10px 30px;
    align-items: center;
}

header i{
    margin-right: 20px;
}

nav a{
    margin-right: 20px;
    font-size: 25px;
}

<<<<<<< HEAD
>>>>>>> 0cbee40dfe3e1a374494816ee0ba597df6bd8475
button{
    justify-content: space-around;
    align-self: flex-end;
=======
a:hover {
    color: rgb(160,27,255);
    transition: 200ms;
    text-shadow: 0 0 0px rgb(207,184,255);
>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
}

a {
    font-family: Ropa Sans;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
}

main {
<<<<<<< HEAD
    height: 600px;
    font-family: Ropa Sans;
    text-align-last: center;
    padding: 10px 40px;
}
=======
    max-width: 100%;
    height: 1350px;
    font-family: Ropa Sans;
    text-align-last: center; 
    padding: 10px 50px;
}

<<<<<<< HEAD
>>>>>>> 0cbee40dfe3e1a374494816ee0ba597df6bd8475
=======
/* -------------------------------------------------------HOME---------------------------------------------------- */

h1,h3{
    font-family: Ropa Sans;
    font-size: 30px;
    text-align: center;
}

#slider {
    width: 80%;
    max-width:500px;
    height: 25vw;
    max-height: 150px;
    position: relative;
    margin-right: 300px;;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 150%;
    height: 350px;
    object-fit: cover;
    transition: opacity 800ms;
    box-shadow: 0 0 10px black ;
}

#slider img.selected{
    opacity: 1;
}

.section-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.imagens-demostrativas{
    margin-top: 250px;
}

.imagens-demostrativas img{
    height: 250px;
}

>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
/* -------------------------------------------------------SOBRE---------------------------------------------------- */

.sobre p{
    font-size: 20px;
}
.casal{
<<<<<<< HEAD
    width: 100%;
<<<<<<< HEAD
    height: 300px;
=======
    height: 400px;
>>>>>>> 0cbee40dfe3e1a374494816ee0ba597df6bd8475
=======
    width: 200px;
    height: 300px;
>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
    max-width: 40%;
    box-shadow: 0 0 10px;
}

.joias{
<<<<<<< HEAD
    background-color: burlywood;
=======
    background-color: rgb(255, 249, 239);
>>>>>>> 0cbee40dfe3e1a374494816ee0ba597df6bd8475
}

.sobre{
    height: 100%;
}

.girl-power{
    height: 300px;
    max-width: 70%;
    box-shadow: 0 0 10px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
/* --------------------catalogo---------------- */
=======

/* -------------------------------------------------------CATÃLOGO---------------------------------------------------- */

>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
.sec-cat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-cat div{
    box-shadow: 0px 5px 10px rgb(22,20,20);
    opacity: 60%;
    transition-duration: 200ms;
    height: 210px;
    width: 600px;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px  rgb(22, 20, 20);
}

.sec-cat div:hover{
    box-shadow: 0px 5px 10px rgb(22,20,20);
    opacity: 100%;
    transition-duration: 200ms;
}

.sec-cat p{
    font-family: Ropa Sans;
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding-top: 13%;
    text-shadow: 0 0 5px cornsilk;
} 
.aneis{
    background-image: url("/front/img/aneis1.jpg");
 }

.aliancas{
    background-image: url("/front/img/aliancas1.jpg");
}

.brincos{
    background-image: url("/front/img/brincos1.jpg");
}

.colares{
    background-image: url("/front/img/colares1.jfif");
}

.pulseiras{
    background-image: url("/front/img/pulseiras1.jfif");
}
  
<<<<<<< HEAD
>>>>>>> 0cbee40dfe3e1a374494816ee0ba597df6bd8475

=======
>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
/* ---------------------------------------------------FOOTER------------------------------------------------ */

footer{
    color:black;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    font-family: Ropa Sans;
    font-size: 14px;
    line-height: .2;
    width: 100%;
}

.footer{
    background-image: url(/front/img/footer.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    padding: 60px 40px;
    box-shadow: 0 0 10px  grey;
}

#contato div i{
    margin-right: 5px;
}
<<<<<<< HEAD
<<<<<<< HEAD


=======
=======




>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
/* produtos */

.produto-1{
    width: 150px;
}

.foto-produto {
    display: flex;
    justify-content: space-between;
    width: 100%;    
    padding-right: 15px;    
}

.descricao-produto{
    border: 1px solid black;
}



<<<<<<< HEAD
section .imagens-demostrativa{
    margin-top: 1000px;
}
>>>>>>> 0cbee40dfe3e1a374494816ee0ba597df6bd8475
=======






>>>>>>> 285c9272db0b2143ae127d77633dffd21e285d93
